<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="/css/index.css" rel="stylesheet"/>
	</head>
	<body>
		<div th:replace="menubar.html"></div>
		<div>
			<form th:object="${search}">
				<select name="carBody">
					<option value="" disabled selected hidden>Select car body</option>
					<option th:each="carBodyOpt : ${T(com.gmail.kharchenko55.vlad.model.car.CarBody).values()}"
					        th:value="${carBodyOpt.id}" th:text="${carBodyOpt.name}"></option>
				</select>
				<select name="carBrand">
					<option value="" disabled selected hidden>Select car brand</option>
					<option th:each="carBrandOpt : ${T(com.gmail.kharchenko55.vlad.model.car.CarBrand).values()}"
					        th:value="${carBrandOpt.id}" th:text="${carBrandOpt.name}"></option>
				</select>

				<select name="bmw">
					<option value="" disabled selected hidden>Select bmv</option>
					<option th:each="bmwOpt : ${T(com.gmail.kharchenko55.vlad.model.car.models.BmwModels).values()}"
					        th:value="${bmwOpt.id}" th:text="${bmwOpt.name}"></option>
				</select>
				<button type="submit">Search
					<!--					<a th:href="@{/search/{carBody}(carBody=${search.carBody.id})-->
					<!--					/{carBrand}(carBrand=${search.carBrand.id})}">-->
					<!--						</a>-->
				</button>
			</form>
		</div>
	</body>
</html>