body {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

h1 {
    color: #78ab46;
}

ul {
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.car_brand_list, .car_model_list {
    opacity: 0;
    max-height: 0;
    overflow: auto;
    list-style: none;
    padding-top: 5px;
    border: 1px solid #333333;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 11;
    background: white;
    padding-left: 10px;
    transition: all 200ms ease-in-out;
}

.show {
    max-height: 200px;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.brand_list_el {
    cursor: pointer;
}

.form-wrapper {
    padding-top: 50px;
    width: 30%;
    min-width: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;


}

.carForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.carForm select, .carForm input {
    margin-bottom: 20px;
    width: 70%;
    min-height: 40px;
    border-radius: 7px;
    padding-left: 5px;
    border: 1px solid #333333;
    outline: none;

}

.carForm select {
    background: none;
}

.carForm button {
    width: 40%;
    min-height: 30px;
    background: none;
    border: 1px solid #333333;
    border-radius: 7px;
    outline: none;
}

.carForm button:hover {
    background: #4CAF50;
}

.input-wrapper {
    width: 70%;
    position: relative;
    margin-bottom: 20px;

}

.carForm input {
    width: 100%;
    margin-bottom: 0;
}

.results-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.car-card {
    width: 24%;
    /*border: 1px solid #333333;*/
    border-radius: 7px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 150ms ease-in-out;
    -webkit-box-shadow: 2px 1px 9px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 9px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 9px -2px rgba(0,0,0,0.75);
}


.car-card:hover {
    transform: scale(1.05);
    transition: all 150ms ease-in-out;

}

.img-container img{
max-width: 100%;
    height: auto;
    border-radius: 7px;
}

.car-info__container {
    padding-left: 8px;
}

@media (max-width: 768px) {
    .car-card {
        width: 32%;
    }
    .form-wrapper {
        width: 60%;
    }

    .carForm select, .input-wrapper {
        width: 100%;
    }
}


@media (max-width: 550px) {
    .car-card {
        width: 100%;
    }

    .form-wrapper {
        width: 90%;
    }
}