<div class="topnav" id="myTopnav">
	<a href="">Home</a>
	<div class="dropdown">
		<button class="dropbtn">Search
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="">New car</a>
			<a href="">Used car</a>
		</div>
	</div>
	<div class="dropdown">
		<button class="dropbtn">Admin
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="">Show all users</a>
			<a href="">Activate user</a>

		</div>
	</div>
	<div class="dropdown"  style="float: right;">
		<button class="dropbtn">Settings
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<a href="#">Log out</a>
		</div>
	</div>
	<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
