<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:remove="all">Template for HTML email with inline image</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<p  th:text="'Добрый день, '+ ${email}">
			Hello, Peter Static!
		</p>
		<p>
			За последние 3 дня по вашим запросам
			появились такие новые обьявления:
		</p>
		<div th:switch="${cars}">
			<h2 th:case="null">Нет новых обьявлений</h2>
			<div th:case="*">
				<table>
					<thead>
						<tr>
							<th style="width: 150px;">Марка</th>
							<th style="width: 150px;">Модель</th>
							<th style="width: 150px;">Цена</th>
							<th style="width: 150px;">Подробная информация</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="car : ${cars}">
							<td th:text="${car.mark}"></td>
							<td th:text="${car.model}"></td>
							<td th:text="${car.price}"></td>
							<td><a th:href="@{|https://auto.ria.com${car.linkToView}|}">Перейти</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<p>
			С уважением, <br />
			<em>Помощник RIA</em>
		</p>
	</body>
</html>